version: "3"
services:
    bot:
        image: "ptrvsrg/nsumedia-bot:latest"
        container_name: "nsumedia-bot-app"
        env_file:
            - ./.env
        ports:
            - "465:465"
        networks:
            - nsumedia-bot-net
        depends_on:
            - db
    db:
        image: "postgres:latest"
        container_name: "nsumedia-bot-db"
        restart: unless-stopped
        env_file:
            - ./.env
        environment:
            POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
        volumes:
            - "nsumedia-bot-db-data:/var/lib/postgresql/data"
        networks:
            - nsumedia-bot-net
volumes:
    nsumedia-bot-db-data:
networks:
    nsumedia-bot-net:
