POSTGRES_USER=                      # имя пользователя базы данных
POSTGRES_PASSWORD=                  # пароль пользователя базы данных
POSTGRES_DB=                        # имя базы данных

NSUMEDIA_BOT_DB_URL=                # URL базы данных. При запуске docker-compose: jdbc:postgresql://nsumedia-bot-db:5432/<название-базы-данных>
NSUMEDIA_BOT_DB_USERNAME=           # имя пользователя базы данных
NSUMEDIA_BOT_DB_PASSWORD=           # пароль пользователя базы данных

NSUMEDIA_BOT_MAIL_PROTOCOL=         # протокол SMTP сервера
NSUMEDIA_BOT_MAIL_HOST=             # хост SMTP сервера
NSUMEDIA_BOT_MAIL_PORT=             # порт SMTP сервера
NSUMEDIA_BOT_MAIL_USERNAME=         # имя пользователя SMTP сервера
NSUMEDIA_BOT_MAIL_PASSWORD=         # пароль пользователя SMTP сервера